body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
  font-weight: 300;
  text-align: center;
}

#container {
  width: 100%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

#pokemon-search-form {
  margin-left: 300px;
  width: 500px;
  margin-top: 50px;
}

#pokemon-search-input {
  font-size: 3rem;
  border: 3px solid #fecd2f;
  color: #2d72fc;
}

#pokemon-logo {
  width: 300px;
}

#pokemon-container {
  width: 100%;
}

input:focus {
  outline: none;
}

.pokemon-container {
  display: inline-block;
  width: 250px;
  border: solid black 2px;
  background: darkgreen;
  text-align: center;
  margin: 5px;
}

.center-text {
  text-align: center;
}

.flip-image {
  color: #2d72fc;
}

.hide {
  display: none;
}
